<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.nextit.bookmarket.login.LoginMapper">
	<select id="findByEmailAndPassword" parameterType="loginVO" resultType="memberVO">
		SELECT
			ID,
			EMAIL,
			PASSWORD,
			NAME,
			REGISTER_DATE,
			MODIFIED_DATE
		FROM
			MEMBER
		WHERE
			EMAIL = #{email}
			AND PASSWORD = #{password}
	</select>
</mapper>




