<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.BoardMapper">
	<select id="selectBoards" resultType="board.BoardVO">
		SELECT
			A.NO,
			A.TITLE,
			A.CONTENT,
			A.WRITER,
			B.NAME,
			A.HITS,
			A.REGISTER_DATE,
			A.MODIFIED_DATE
		FROM
			BOARD A
			INNER JOIN MEMBER B ON A.WRITER = B.EMAIL
	</select>
	<select id="selectBoard" parameterType="long" resultType="boardVO">
		SELECT
			A.NO,
			A.TITLE,
			A.CONTENT,
			A.WRITER,
			B.NAME,
			A.HITS,
			A.REGISTER_DATE,
			A.MODIFIED_DATE
		FROM
			BOARD A
			INNER JOIN MEMBER B ON A.WRITER = B.EMAIL
		WHERE
			A.NO = #{no}
	</select>
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO
			BOARD
			(TITLE, CONTENT, WRITER)
		VALUES
			(#{title}, #{content}, #{writer})
	</insert>
	<update id="updateBoard" parameterType="boardVO">
		UPDATE
			BOARD
		SET
			TITLE = #{title},
			CONTENT = #{content},
			WRITER = #{writer},
			MODIFIED_DATE = SYSDATE
		WHERE
			NO = #{no}
	</update>
	<delete id="deleteBoard" parameterType="long">
		DELETE FROM
			BOARD
		WHERE
			NO = #{no}
	</delete>
</mapper>

















